@page "/Product_Index"
<h3>Product</h3>

<div class="nav-item px-3">
    <NavLink class="nav-link" href="Product_Create">
        <span class="oi oi-plus" aria-hidden="true"></span> Create
    </NavLink>
</div>

@if (productDtos == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var productDto in productDtos)
            {
                <tr>
                    <td>@productDto.Name</td>
                    <td>@productDto.Price</td>
                    <td>
                        <a class="btn btn-secondary" href="/Product_Edit/@productDto.Id" role="button">Edit</a>
                        <button type="button" @onclick="(async() =>await Delete(productDto.Id))" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


